<nav class="bg-gray-800 container p-6 mx-auto md:px-12 lg:px-10">
    <div class="flex items-center justify-between">
        <div class="flex items-center">
            <a class="text-lg font-bold text-white lg:text-2xl hover:text-gray-300" href="/">UI Stack</a>
            <span class="ml-3 text-[10px] font-medium text-amber-600 px-2 py-0.5 rounded-full bg-amber-100/90">beta</span>
        </div>

        <div id="contact_link" class="flex items-center cursor-pointer">
            <div class="h-10 px-5 py-2 text-sm text-center capitalize transition-colors duration-200 transform border rounded-md hover:bg-gray-700 text-white lg:mt-0 lg:w-auto">
                <p>
                    Contact Us
                </p>
            </div>
        </div>
    </div>
</nav>